.venv
*__pycache__*
*.pyc
.env
*micromambavenv
*output*
excel_output/*
dxf_output/*
*formatted_data*
*ai_parsed_result.json
*calculated_result.json
*cad_parsed_result
工作日志/*
*logs*
cache
*pdf_output/*
pdf_output/*
exe_output/*
*/yolo_dataset/*
*current_screen*
*memory.txt
*runs*
*yolo_dataset*
*screenshot*png
*sifu_window_capture.png
*.spec
*build*
*dist*
my_python_server_private*
*map_export*
model*
*default_env.json
*detection_images*
*experience_data*
*game_memory.json
screenshots*
vector_memory_db*
*training_plots*
*checkpoint*pth
*cnn_masks*
*test_results*
models*
vllm-env*